.landingPage{
    
}

.ticketDiv{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    width:70%;
    height:70%;
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:50%;

}

.form > div{
    display:flex;
    flex-direction: column;

    gap:20px;
}

.inlineDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inlineDiv > button{
    width:45%;
}